/* Reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}


nav{

background:#2c3e50;
padding:15px 40px;

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

color:white;
font-size:24px;
font-weight:bold;

}

nav ul{

list-style:none;
display:flex;
gap:25px;

}

nav ul li a{

color:white;
text-decoration:none;
font-size:18px;
transition:0.3s;

}

nav ul li a:hover{

color:#f39c12;

}


.hero{

height:80vh;
background:linear-gradient(to right,#3498db,#8e44ad);

color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:20px;

}

.hero h1{

font-size:48px;
margin-bottom:20px;

}

.hero p{

font-size:20px;
width:70%;
margin-bottom:30px;

}



.btn-container{

display:flex;
gap:20px;

}

button{

padding:12px 25px;
font-size:18px;

border:none;
border-radius:8px;

cursor:pointer;
transition:0.3s;

}

.admin-btn{

background:#e74c3c;
color:white;

}

.user-btn{

background:#27ae60;
color:white;

}

button:hover{

transform:scale(1.1);

}


.info{

padding:60px;
background:#ecf0f1;

text-align:center;

}

.info h2{

margin-bottom:20px;
font-size:32px;

}

.info p{

font-size:18px;
line-height:1.6;

width:70%;
margin:auto;

}


.benefits{

padding:60px;
text-align:center;
background:white;

}

.benefits h2{

margin-bottom:30px;
font-size:32px;

}

.card-container{

display:flex;
justify-content:center;
gap:30px;

flex-wrap:wrap;

}

.card{

background:#f4f6f7;

padding:25px;
width:250px;

border-radius:10px;

box-shadow:0 4px 10px rgba(0,0,0,0.2);

transition:0.3s;

}

.card:hover{

transform:translateY(-10px);

}

.card h3{

margin-bottom:15px;

}


footer{

background:#2c3e50;

color:white;

text-align:center;

padding:15px;

}