*{
    margin:0;
    padding:0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    display:flex;
    background-color: bisque;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.logo_container{
    display: inline-block;
    margin-left: 3%;
    background-color: bisque;
}
.action_bar{
    margin-right: 3%;
}
.nav_bar{
    width:500px;
    display: flex;
    background-color:bisque;
    justify-content:space-between;
    flex-grow: 0.5;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 27px 0px;
    border-color: 3px solid bisque;
    
}
.search_bar{
    display:flex;
    align-items: center;
    background-color: #f5f5f6;
    height:40px;
    min-width: 200px;
    width:30%;
    border-radius: 4px;
}
.search{
    border:1px solid  #f5f5f6;
    color: #696e79;
    border-radius: 10px;
    flex-grow: 1;
    background-color: #f5f5f6;
    height:30px;

}
.search_icon{
    border:1px solid  #f5f5f6;
}
.action_bar{
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}
.action_container{
    width: 70px;
    display:flex;
    flex-direction: column;
    text-align: center;
    color: #282c3f;
    text-decoration: none;
}
.men:hover{
    border-bottom: 3px solid red;
}
.women:hover{
    border-bottom: 3px solid palevioletred;
}
.kids:hover{
    border-bottom: 3px solid orange;
}
.home:hover{
    border-bottom: 3px solid yellow;
}
.beauty:hover{
    border-bottom: 3px solid cyan;
}
.genz:hover{
    border-bottom: 3px solid coral;
}
.studio:hover{
    border-bottom: 3px solid paleturquoise;
}
/* Main section css*/
.heading{
    margin: 30px 10%;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.Item_container{
    width : 80%;
    height: 90%;
    margin: 40px 10%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.c1{
    width : 280px;
    height : 280px;
    margin : 10px;
}
.WFitem1{
    width: 100%;
    height:60%;
    border-radius: 10%;
}
.rating{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 6px;
}
.company_name{
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
}
.item_name{
    font-size: 14px;
    font-weight: 600;
    color: #7e818c;

}
.curr_price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.Original_price{
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 6px;
    font-weight: 300;
    color: #7e818c;
}
.discount{
    font-size: 12px;
    font-weight: 400;
    color: chocolate;
}
.btn_add_bag{
    width:100%;
    background-color: darkseagreen;
    border-color: darkseagreen;
    border-radius: 10px;
    cursor: pointer;
}
.btn_add_bag:hover{
    background-color: darkcyan;
    color: #FAFBFC;
}

/*Footer Section*/
.footer_container{
    background:#FAFBFC;;
    padding:80px 0px 40px 0px;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    color:#696e79;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.footer_column h3{
    color:#282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.footer_column a{
    text-decoration: none;
}
.copyright{
    color:#94969f;
    text-align: end;
    padding: 15px;;
}
.bag_item_count{
    font-size: 12px;
    font-weight: 700;
    background-color: coral;
    width:20px;
    height:20px;
    color:#FAFBFC;
    border-radius: 100%;
    
}
.SuperScript{
    color:coral;
    font-size: 9px;
}